<form>
  <fieldset>
    <legend>Add framework</legend>
    <div class="control-group">
      
      <label>Framework name</label>
      <input type="text" name="title" placeholder="Framework name...">
      <span class="name-help help-inline"></span>

      <label>Framework URL</label>
      <input type="text" name="url" placeholder="Framework URL...">
      <span class="url-help help-inline"></span>

    </div>
    <button type="submit" class="btn"><i class="icon-pencil"></i>Add framework</button>
  </fieldset>
</form>