<div class="modal hide fade">
  <div class="modal-header">
    <a href="/" class="btn close"  aria-hidden="true">&times;</a>
    <h3>Update Framework</h3>
  </div>
  <form>
    <fieldset>
      <div class="modal-body">
        <div class="control-group">
          <label>Framework name</label>
          <input type="text" name="title" placeholder="Framework name..." value="{{title}}">
          <span class="url-help help-inline"></span>
          <label>Framework URL</label>
          <input type="text" name="url" placeholder="Framework URL..." value="{{url}}">
          <span class="url-help help-inline"></span>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/" class="btn">Close</a>
        <button type="submit" class="btn btn-primary"><i class="icon-pencil"></i>Save changes</button>
      </div>
    </fieldset>
  </form>
</div>